@(profile: json.Profile, stockInfo:List[(String, Double, Double, Double)])

@main("Your Profile") {
  @if(profile != null){
    <img src="@profile.pictureUrl" />
    <h1>@profile.firstName @profile.lastName</h1>
    <h2>@profile.headline | @profile.industry</h2>
    <table>
      <tr>
        <th>Company</th>
        <th>Start Price</th>
        <th>End Price</th>
        <th>Percentage Change</th>
      </tr>
      @for(stock <- stockInfo){
        <tr>
          <td>@stock._1</td>
          <td>@stock._2</td>
          <td>@stock._3</td>
          <td>@stock._4</td>
        </tr>
      }
    </table>
  }
}
