@(profile: json.Profile, connections: json.Connections)

@main("Your Profile") {

  @if(profile != null){
   <img src="@profile.pictureUrl" />
   <h1>@profile.firstName @profile.lastName</h1>
   <h2>@profile.headline | @profile.industry</h2>
   <p>
    @profile.summary
   </p>
  }
  <h2>Connections</h2>
  @if(connections != null && connections.values != null) {
  <ul>
  @for(con <- connections.values){
    <li>
      <h3>@con.firstName @con.lastName</h3>
      @con.headline
      @con.industry
    </li>
    }
  </ul>
  }

}
